.imgcartelera {
    width: 100%;
    height: 23.8vh;
}

body {
    background: #282828 !important;
}

.contentcartelera {
    width: 100%;
    height: 100vh;
    background: #282828;
    margin-top: -12%;
}

.card {
    width: 23% !important;
    background: #282828 !important;
    border: none !important;
}

.card img {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bordesall {
    border-radius: 20px;
}

.boton {
    color: white;
    background: transparent !important;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
}

.width {
    width: 100%;
    height: auto;
}

.boton:hover {
    background: white !important;
    text-decoration: none;
    color: black;
}

.white {
    color: white;
}

.tag {
    width: 50%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    background: #E72F4E;
    border-radius: 25px;
    padding: 5px;
}

.width {
    width: 25%;
}