.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 100%;
    height: 100vh;
    background: #fff;
}

.dblock {
    display: block;
}

.mauto {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 20%;
    margin-top: 10%;
}

.referencia {
    background: #fff;
    padding: 20px;
    width: 10%;
    border: 2px solid rgba(231, 47, 78, 1);
    border-radius: 20px;
    color: rgba(231, 47, 78, 1);
}

.ad {
    background: rgba(231, 47, 78, 1);
    padding: 30px;
    margin-top: 20px;
    color: white;
}

.btnback {
    text-decoration: solid;
    color: rgba(231, 47, 78, 1);
}

.btnback:hover {
    color: rgba(231, 47, 78, 1);
}